<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.sss1415.medicalmentoring" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SharedStorageApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registrati"
            android:label="@string/title_activity_registrati"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateHidden"
            >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppThemeNoShadow">
        </activity>
        <activity
            android:name=".Profilo"
            android:label="@string/title_activity_profilo"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.uniba.di.sss1415.medicalmentoring.Home" />
        </activity>
        <activity
            android:name=".InserisciRichiesta"
            android:label="@string/title_activity_inserisci_richiesta"
            android:parentActivityName=".Home"
            android:configChanges="orientation|keyboardHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.uniba.di.sss1415.medicalmentoring.Home" />
        </activity>
        <activity
            android:name=".Richiesta"
            android:label="@string/title_activity_richiesta"
            android:parentActivityName=".InserisciRichiesta" >
        </activity>
        <activity
            android:name=".InserisciDisponibilita"
            android:label="@string/title_activity_inserisci_disponibilita"
            android:parentActivityName=".Home">
        </activity>
        <activity
            android:name=".LeMieRichieste"
            android:label="@string/title_activity_le_mie_richieste"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.uniba.di.sss1415.medicalmentoring.Home" />
        </activity>
        <activity
            android:name=".LeMieDisponibilita"
            android:label="@string/title_activity_le_mie_disponibilita"
            android:parentActivityName=".Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.uniba.di.sss1415.medicalmentoring.Home" />
        </activity>
    </application>

</manifest>
